<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hawaii hotels</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/scripts/lib/require.js" data-main="/scripts/main"></script>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <div class="navbar-brand text-uppercase">
                hawaaii hotels search
            </div>
        </div>
    </nav>
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
            <div id="searchContainer"></div>
            <div class="row">
                <div class="col-sm-8" id="hotelsList"></div>
                <div class="col-sm-4" id="detailedInfo"></div>
            </div>
        </div>
    </div>
    <script src="~/scripts/lib/jquery-1.10.2.min.js"></script>
    <script src="~/scripts/lib/bootstrap.min.js"></script>
</body>
</html>
